@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
}

body {
    font-family: 'Fredoka One', sans-serif;
    background-image: url('../assets/bg-stripes.svg');
    background-size: cover;
    background-position: center;
    overflow: hidden;
}

canvas {
    position: relative;
    z-index: 100;
}

.game-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-image: url('../assets/bg-text.svg');
    background-size: 62vmin auto;
    background-position: center 40%;
    background-repeat: no-repeat;
}
.isClicked .game-wrapper {
    animation: shake-hard 100ms;
}
.game-is-over.game-wrapper {
    background-image: none;
}

.strike-wrapper {
    display: flex;
    position: absolute;
    z-index: 300;
    bottom: 1vmin;
    left: 50%;
    transform: translateX(-50%);
    cursor: pointer;
}
.game-is-started .strike-wrapper {
    pointer-events: none;
    z-index: auto;
}
.strike {
    width: 11.11vmin;
    height: 11.11vmin;
    background-size: contain;
    background-repeat: no-repeat;
    margin: 0 0.5vmin;
}
.hide-strikes .strike {
    display: none;
}

.strike-one {
    background-image: url('../assets/strike-one-checked.svg');
}
.strike-two {
    background-image: url('../assets/strike-two-checked.svg');
}
.strike-three {
    background-image: url('../assets/strike-three-checked.svg');
}
[data-strikes='0'] .strike-one {
    background-image: url('../assets/strike-one-empty.svg');
}
[data-strikes='0'] .strike-two,
[data-strikes='1'] .strike-two {
    background-image: url('../assets/strike-two-empty.svg');
}
[data-strikes='0'] .strike-three,
[data-strikes='1'] .strike-three,
[data-strikes='2'] .strike-three {
    background-image: url('../assets/strike-three-empty.svg');
}

.start-button,
.retry-button {
    position: relative;
    z-index: 200;
    background-image: url('../assets/button-start.svg');
    height: 11.11vmin;
    width: 40vmin;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
.start-button.is-hidden,
.retry-button.is-hiddenn {
    display: none;
}
.retry-button {
    background-image: url('../assets/button-retry.svg');
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
}
.retry-button.is-hidden {
    display: none;
}

.score-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 1vmin;
    left: 1vmin;
    width: 11.11vmin;
    height: 11.11vmin;
    background-image: url('../assets/score-counter.svg');
    background-size: contain;
    background-repeat: no-repeat;
    user-select: none;
}

.score {
    font-size: 4vmin;
    color: #ffffff;
    text-shadow: #ea5e5e -0.3vmin -0.3vmin 0;
}

.game-over-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-image: url('../assets/bg-text-dark.svg'),
        url('../assets/bg-stripes-dark.svg');
    background-size: 62vmin auto, cover;
    background-position: center 40%, center;
    background-repeat: no-repeat;
    /* background-image: url('../assets/bg-stripes.svg'); */
    /* background-size: cover;
    background-position: center; */
}

@keyframes shake-hard {
    2% {
        transform: translate(-7px, 0px) rotate(3.5deg);
    }
    4% {
        transform: translate(1px, 1px) rotate(-1.5deg);
    }
    6% {
        transform: translate(-7px, -6px) rotate(-1.5deg);
    }
    8% {
        transform: translate(-8px, -8px) rotate(1.5deg);
    }
    10% {
        transform: translate(-4px, 6px) rotate(-2.5deg);
    }
    12% {
        transform: translate(-7px, -3px) rotate(2.5deg);
    }
    14% {
        transform: translate(10px, 9px) rotate(-1.5deg);
    }
    16% {
        transform: translate(-9px, 8px) rotate(0.5deg);
    }
    18% {
        transform: translate(-4px, 0px) rotate(3.5deg);
    }
    20% {
        transform: translate(-4px, 0px) rotate(2.5deg);
    }
    22% {
        transform: translate(-7px, 4px) rotate(3.5deg);
    }
    24% {
        transform: translate(-7px, 2px) rotate(1.5deg);
    }
    26% {
        transform: translate(10px, -9px) rotate(2.5deg);
    }
    28% {
        transform: translate(9px, -1px) rotate(0.5deg);
    }
    30% {
        transform: translate(-6px, -5px) rotate(3.5deg);
    }
    32% {
        transform: translate(-2px, 8px) rotate(0.5deg);
    }
    34% {
        transform: translate(-3px, 5px) rotate(2.5deg);
    }
    36% {
        transform: translate(4px, 1px) rotate(-2.5deg);
    }
    38% {
        transform: translate(7px, 4px) rotate(0.5deg);
    }
    40% {
        transform: translate(-5px, -2px) rotate(2.5deg);
    }
    42% {
        transform: translate(-9px, -7px) rotate(-0.5deg);
    }
    44% {
        transform: translate(-2px, 10px) rotate(-1.5deg);
    }
    46% {
        transform: translate(-4px, 4px) rotate(1.5deg);
    }
    48% {
        transform: translate(0px, 9px) rotate(-2.5deg);
    }
    50% {
        transform: translate(-5px, -7px) rotate(3.5deg);
    }
    52% {
        transform: translate(-7px, -8px) rotate(1.5deg);
    }
    54% {
        transform: translate(-7px, 9px) rotate(3.5deg);
    }
    56% {
        transform: translate(6px, 9px) rotate(-1.5deg);
    }
    58% {
        transform: translate(9px, 3px) rotate(2.5deg);
    }
    60% {
        transform: translate(3px, -7px) rotate(2.5deg);
    }
    62% {
        transform: translate(2px, 7px) rotate(0.5deg);
    }
    64% {
        transform: translate(-8px, 4px) rotate(-0.5deg);
    }
    66% {
        transform: translate(1px, -8px) rotate(2.5deg);
    }
    68% {
        transform: translate(4px, -1px) rotate(2.5deg);
    }
    70% {
        transform: translate(8px, -7px) rotate(-1.5deg);
    }
    72% {
        transform: translate(8px, 5px) rotate(0.5deg);
    }
    74% {
        transform: translate(9px, -9px) rotate(-2.5deg);
    }
    76% {
        transform: translate(3px, -5px) rotate(-1.5deg);
    }
    78% {
        transform: translate(2px, 10px) rotate(-0.5deg);
    }
    80% {
        transform: translate(7px, 7px) rotate(3.5deg);
    }
    82% {
        transform: translate(8px, 1px) rotate(-1.5deg);
    }
    84% {
        transform: translate(-9px, 7px) rotate(-2.5deg);
    }
    86% {
        transform: translate(-1px, 0px) rotate(0.5deg);
    }
    88% {
        transform: translate(0px, 4px) rotate(-2.5deg);
    }
    90% {
        transform: translate(-6px, -3px) rotate(-0.5deg);
    }
    92% {
        transform: translate(7px, 1px) rotate(-2.5deg);
    }
    94% {
        transform: translate(6px, 4px) rotate(2.5deg);
    }
    96% {
        transform: translate(-8px, 9px) rotate(3.5deg);
    }
    98% {
        transform: translate(-9px, -8px) rotate(2.5deg);
    }
    0%,
    100% {
        transform: translate(0, 0) rotate(0);
    }
}
