.game {
    &--container {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
    }
    &--canvas {
        position: relative;
        z-index: 500;
        pointer-events: none;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        height: 100%;

        .game-is-started & {
            z-index: 100;
            pointer-events: all;
        }
    }
}
