.message {
    &--wrapper {
        margin: 0 1rem;
        display: none;
        justify-content: center;
        align-content: center;
        // align-self: center;
        background-color: #f5ebeb;
        color: #2b2d2b;
        padding: 1rem;
        font-size: 2rem;
        max-width: rem-calc(600);
        width: 100%;
        text-align: center;
        border-radius: 1rem;
        border: 0.375rem solid #e95e5d;
        .game-is-over & {
            display: flex;
        }
    }
}
