.sound {
    &--wrapper {
        z-index: 200;
        font-size: 3rem;
        user-select: none;
    }
    &--icon {
        margin-right: 0.5rem;
        margin-bottom: 0.5rem;

        line-height: 1;
        &__mute {
            display: block;
        }
        &__unmute {
            display: none;
        }
        .is-muted &__unmute {
            display: block;
        }
        .is-muted &__mute {
            display: none;
        }
        @media screen and (min-width: 1024px) {
            width: 3.5rem;
            height: 3.5rem;
        }
    }
    &--icon img {
        width: 100%;
        height: auto;
    }
}
