.sound {
    &--wrapper {
        display: flex;
        justify-content: center;
        align-content: center;

        z-index: 200;
        font-size: 3rem;
        user-select: none;
        flex-basis: 3rem;
        padding-right: 1rem;
    }
    &--icon {
        align-self: center;
        line-height: 1;
        &__mute {
            display: block;
        }
        &__unmute {
            display: none;
        }
        .is-muted &__unmute {
            display: block;
        }
        .is-muted &__mute {
            display: none;
        }
        @media screen and (min-width: 1024px) {
            width: 3.5rem;
            height: 3.5rem;
        }
    }
    &--icon img {
        width: 1.5rem;
        height: auto;
        @media screen and (min-height: 700px) {
            width: 2rem;
        }
    }
}
