.topbar {
    &--container {
        display: flex;
        justify-content: center;
        align-content: center;
        position: relative;
        z-index: 1000;
        background-color: #c7eafb;
        background-image: linear-gradient(#faf8ff, #c7eafb);
    }
    &--link-wrapper {
        display: flex;
        justify-content: center;
        align-content: center;
        padding: 0.625rem 1.5rem;
        flex-basis: 100%;
        @media screen and (min-height: 700px) {
            padding: 1rem 1.5rem;
        }
        .game-is-started & {
            pointer-events: none;
            cursor: not-allowed;
        }
    }
    &--logo {
        width: 100%;
        max-width: 400px;
        @media screen and (min-width: 800px) {
            width: 400px;
            height: 20px;
            @supports (display: grid) {
                width: 100%;
                height: auto;
            }
        }
    }
}
