.ui {
    &--container {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
    }
    &--upper-container {
        display: flex;
        position: relative;
        justify-content: space-between;
        flex-shrink: 0;
        padding-top: 1rem;
        flex-wrap: wrap;
        transition: 200ms;
        @media screen and (min-width: 800px) {
            padding-top: 2rem;
            flex-wrap: nowrap;
        }
    }
    &--upper-right-container {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        flex-basis: 50%;
        @media screen and (min-width: 800px) {
            flex-basis: 12rem;
        }
    }
    &--middle-container {
        display: flex;
        justify-content: center;
        align-content: center;
        flex-basis: 100%;
        background-image: url('../assets/bg-text.png');
        background-size: 55vmin auto;
        background-position: 50% 50%;
        background-repeat: no-repeat;
        padding: 2rem;
        .isClicked & {
            animation: shake-hard 100ms;
        }
        .game-is-over & {
            background-image: none;
        }
        @media screen and (max-width: 1024px) {
        }
        @media screen and (max-height: 700px) {
            background-image: none;
            .game-is-started & {
                background-image: url('../assets/bg-text.png');
            }
        }
    }
    &--lower-container {
        flex-shrink: 0;
        display: flex;
        justify-content: center;
        align-content: center;
        padding: 0 4rem 2rem;
        @media screen and (min-height: 700px) {
            padding: 0 2rem 4rem;
        }
    }
}
